.main-container {
    max-width: 1920px;
    background-color: #eaedef; 
}
.inner-content {
    margin: 0 40px;
    background: white;
    padding: 25px 30px;
    overflow: hidden;
}
.inner-title {
    font-family: 'Montserrat-Bold';
    font-size: 24px;
    color: #003b71;
}
.page-heading {
    font-family: 'Montserrat-Black';
    font-size: 36px;
    line-height: 44px;
    color: #003b71;
    padding: 16px 0 16px 125px;
    background-color: #fff; 
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.breadcrumb {
    font-family: 'Montserrat-Medium';
    font-size: 24px;
    color: #003b71;
    line-height: 29px;
    padding: 25px 0 25px 101px;
}
.card-container {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    color: #0b3259;
    max-width: 331px;
    box-sizing: border-box;
    margin-top: 37px;
    border-radius: 10px;
    max-height: 553px;
    height: 553px;
    margin-right: 26px;
    margin-bottom: 25px;
    float: left;
}
.known-for {
    margin: 12px 0 24px 15px;
}
.completion-rate {
    text-align: center;
    font-family: 'Montserrat-Bold';
    font-size: 14px;
    padding: 4px 0 2px;
    color: #000;
    background: #9fe97f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-image {
    margin: 8px auto;
    text-align: center;
}
.card-image img {
    width: 119px;
    height: 119px;
}
.card-content {
    font-family: 'Montserrat-Medium';
    font-size: 15px;
    line-height: 19px;
    padding: 0 13px;
    margin: 0 0 24px;
}
.card-label {
    font-weight: bold;
    font-family: 'Montserrat-Bold';
    font-size: 16px;
    line-height: 19px;
    padding: 0 13px;
    margin: 0 0 4px;
}
.view-location-btn {
    padding-bottom: 24px;
    text-align: center;
}
.view-location-btn a {
    padding: 9px 12px;
    background: #799d4b;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.card-reverse img {
    float: left;
    width: 37%;
    margin-left: 26px;
    margin-bottom: 49px;
}

